<div class="jumbotron-mt-4">
  <h1 class="display-4">Mis memo-fichas</h1>
  <p class="lead">Descripci贸n de la aplicaci贸n</p>
  <hr class="my-4">
  <p>Texto final de la descripci贸n de la aplicaci贸n</p>

</div>